<h2 class="is-size-2"> {{ UserName }}</h2>
<br>
<div *ngIf="Lover">
  <h3 class="is-size-3">Match:{{ Lover }}</h3>
  <button class="button is-danger" (click)="ViewMatch()" >See Match info</button>
</div>
<br>
<p>Sex:{{ Sex }}</p>
<br>
<p> Bio:{{ Bio }} </p>
<br>
<label >Update Sex</label>
<br>
<input type="text" ngModel maxlength="10" [(ngModel)]="Sex">
<br>
<label >Update Bio</label>
<br>
<textarea class="textarea" rows="10"  ngModel maxlength="100" [(ngModel)]="Bio"></textarea>
<br>
<button class="button is-info" (click)="SaveSexBio()">Save Changes</button>
<br>
<a class="button is-danger" href="/profile">Fresh Match</a>





